{% extends 'layout.html.twig' %}
{% block title %}show category{% endblock %}
{% block content %}
<main>
    <h1>Name {{ 'name' }}</h1>
    <ul>
        <li>Id : {{ category.id }}</li>
    </ul>
    <a href='/categories'>Back to list</a>
</main>
{% endblock %}